{% extends 'base.html' %}
{% load static %}

{% block title %} Корзина {% endblock %}

{% block content %}
	
	<div class="row">
		<div class="col-lg-12">
			<div class="box-element">
				<a href="{% url 'home' %}" class="btn btn-outline-dark">&#x2190; Продолжить покупки</a>
				<br><br>

				<table class="table">
					<tr>
						<th><h5> Предметы: <strong>{{ order.get_cart_items }}</strong></h5></th>
						<th><h5> Итого: <strong>${{ order.get_cart_total }}</strong></h5></th>
						<th>
							<a href="{% url 'checkout' %}" class="btn btn-success" style="float: right; margin: 5px;"> Оформить заказ
							</a>
						</th>
					</tr>
				</table>
			</div>
		</div>

		<br>

		<div class="col-lg-12">
			<div class="box-element">
				<div class="cart-row">
					<div style="flex: 2;"></div>
					<div style="flex: 2;"><strong>Предмет</strong></div>
					<div style="flex: 1;"><strong>Цена</strong></div>
					<div style="flex: 1;"><strong>Количество</strong></div>
					<div style="flex: 1;"><strong>Итого</strong></div>
				</div>


				{% for item in items %}
					<div class="cart-row">
						<div style="flex: 2;">
							{% if item.product.imageURL %}
								<img src="{{ item.product.imageURL }}" class="row-image" style="border: 1px solid gray;">
							{% else %}
								<img src="{% static 'img/no-image-found.png' %}" class="row-image" style="border: 1px solid gray;">
							{% endif %}
						</div>
						<div style="flex: 2;">{{item.product.name}}</div>
						<div style="flex: 1;">${{item.product.price }}</div>
						<div style="flex: 1;">
							<p class="quantity">{{item.quantity}}</p>
							<div class="quantity">
								<img src="{% static 'img/arrow_up.png'%}" class="chg-quantity update-cart"
								data-product={{item.product.id}} data-action="add">

								<img src="{% static 'img/arrow_down.png'%}" class="chg-quantity update-cart"
								data-product={{item.product.id}} data-action="remove">
							</div>
						</div>
						<div style="flex: 1;">${{item.get_total}}</div>
					</div>
				{% endfor %}

			</div>
		</div>
		
	</div>

{% endblock %}