{% extends 'base.html' %}
{% load static %}

{% block title %} Оформить заказ {% endblock %}

{% block content %}
	
<div class="row">
	<div class="col-lg-6">
		<div class="box-element" id="form-wrapper">

			<form id="form">
				{% csrf_token %}
				<div id="user-info">
					<div class="form-field">
						<input type="text" class="form-control" name="name" placeholder="Имя.." required>
					</div>

					<div class="form-field">
						<input type="email" class="form-control" name="email" placeholder="Электронная почта.." required>
					</div>
				</div>

				<div id="shipping-info">
					<hr>
					<p>Информация о доставке:</p>
					<hr>
					<div class="form-field">
						<input class="form-control" type="text" name="address" placeholder="Адрес.." required>
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="city" placeholder="Город.." required>
					</div>
					<div class="form-field">
						<input class="form-control" type="text" name="zipcode" placeholder="Почтовый индекс.." required>
					</div>
					<div style="margin: 20px 0px;"> Адрес по умолчанию:
						<input type="checkbox" name="default_address">
					</div>
				</div>

				<hr>
				<input id="form-button" type="submit" value="Продолжить" class="btn btn-success btn-block">
			</form>

		</div>

		<br>
		<!-- Payment -->
		<div class="box-element hidden" id="payment-info">
			<p><small>Опции Paypal</small></p>
			<button id="make-payment" class="btn btn-success"> Оплатить </button>
		</div>

	</div>

	<div class="col-lg-6">
		<div class="box-element">
			<a href="{% url 'cart' %}" class="btn btn-outline-dark">&#x2190; Назад в корзину</a>
			<hr>
			<h3>Итог заказа</h3>
			<hr>
			{% for item in items %}
				<div class="cart-row">
					<div style="flex: 2;">
						{% if item.product.imageURL %}
							<img src="{{ item.product.imageURL }}"
							class="row-image" style="border: 1px solid gray;">
						{% else %}
							<img src="{% static 'img/no-image-found.png' %}"
							class="row-image" style="border: 1px solid gray;">
						{% endif %}
					</div>
					<div style="flex: 2;"><p>{{ item.product.name }}</p></div>
					<div style="flex: 1;"><p>${{ item.product.price }}</p></div>
					<div style="flex: 1;"><p>x{{ item.quantity }}</p></div>
				</div>
			{% endfor %}

			<h5>Предметы: {{ order.get_cart_items }}</h5>
			<h5>Итого: ${{ order.get_cart_total }}</h5>
		</div>
	</div>
</div>

	<!-- JavaScript -->

<script type="text/javascript">
	var form = document.getElementById("form")

	if(user != "AnonymousUser") {
		document.getElementById('user-info').innerHTML = ''
	}

	var total = '{{ order.get_cart_total }}'

	form.addEventListener('submit', function(e){
		e.preventDefault()
		console.log("Form submitted")
		document.getElementById('form-button').classList.add("hidden")
		document.getElementById('payment-info').classList.remove("hidden")
		})

	document.getElementById("make-payment").addEventListener('click', function(e){
		submitFormData()
	})

	function submitFormData() {
		console.log("Submit button clicked")

		var userFormData = {
			"name": null,
			"email": null,
			"total": total
		}

		var shippingInfo = {
			"address": null,
			"zipcode": null,
			"city": null,
			"default_address": False
		}

		shippingInfo.address = form.address.value
		shippingInfo.zipcode = form.zipcode.value
		shippingInfo.city = form.city.value
		shippingInfo.default_address = form.default_address.value

		if(user == "AnonymousUser"){
			userFormData.name = form.name.value
			userFormData.email = form.email.value
		}

		var url = "/process_order/"

		fetch(url, {
			method:"POST",
			headers: {
				'Content-Type':"application/json",
				"X-CSRFToken": csrftoken,
			},
			body: JSON.stringify({"form":userFormData, "shipping": shippingInfo})
		})
		.then((response) => response.json())
		.then((data) => {
			console.log("Success:", data);
			alert("Transaction complete");
			window.location.href = "{% url 'home' %}"
		})
	}
	
</script>

{% endblock %}