{% extends 'base.html' %}
{% load static %}

{% block title %} Онлайн магазин {% endblock %}

{% block content %}
	
	<div>
		{% if first_order.complete %}
			<h3> Мои заказы </h3>
		{% endif %}
		{% for order in orders %}
			{% if order.complete %}
				<p><a href="{{ order.get_absolute_url }}"> {{ order.transaction_id }} </a>
					{% if order.confirmed %}
						<i> - Принято для отправки </i>
					{% endif %}
				</p>
			{% endif %}
		{% endfor %}
	</div>

	<div class="row">
		{% for product in products %}
			{% if not product.draft %}
				<div class="col-lg-4">
					{% if product.image %}
						<img src="{{ product.image.url }}" class="thumbnail">
					{% else %}
						<img src="{% static 'img/no-image-found.png' %}" class="thumbnail">
					{% endif %}
					<div class="box-element product">
						<h6><strong> {{ product.name }} </strong></h6>
						<hr>
						<button data-product={{product.id}} data-action="add"
						class="btn btn-outline-secondary add-btn update-cart">Добавить в корзину</button>
						<a href="#" class="btn btn-outline-success"> Смотреть </a>
						<h4 style="display: inline-block; float: right;"> ${{ product.price }} </h4>
					</div>
				</div>
			{% endif %}
		{% endfor %}
	</div>

{% endblock %}